html {
	background-color: lightslategray;
}

.game_container {
	background: white;
	width: 780px;
	margin: 10px auto;
	padding: 10px;
}

@font-face {
	font-family: Canterbury;
	src: url('../assets/fonts/Canterbury.ttf');
}

.game_header {
	text-align: center;
	font-family: Canterbury, Helvetica;
	font-size: 48pt;
	margin: 0 0 20px 0;
}