html {
	background-color: lightslategray;
}

.game-container {
	background: white;
	width: 780px;
	margin: 10px auto;
	padding: 30px;
}

@font-face {
	font-family: Canterbury;
	src: url('../assets/fonts/Canterbury.ttf');
}

.game-header {
	text-align: center;
	font-family: Canterbury, Helvetica;
	font-size: 48pt;
	margin: 0 0 20px 0;
}

.data-block p {
	margin: 8px 0;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
}